:root {
    --primary-color: #f6b350;
    --secondary-color: #0c63ba;
    --accent1-color: #333333;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


header {
    background-color: var(--secondary-color);
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

#logo img {
    margin: 0 0.25rem 0 1rem;
    width: 1px;
    height: auto;
}

#logo {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3.5rem;
}

.navigation {
    display: flex;
    list-style: none;
    border: 2px;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1
}

p,section,article {
    margin: 16px;
    padding: 8px;
    
}




.hero article {
    /* position: absolute;  */
    float: right;
    display: flex;
    max-width: 900px;
    align-content: center;
    padding: 2rem;
    margin: 0 auto;  
    top: 300px;
    bottom: 200px;
    right: 20px; 
}


.hero article img {
    display: flex;
    align-items: end;
    top: 40px;
    bottom: 50px;
    width: 125px;
    border: #000;
    margin: auto;
     /* float: right; */
}



h1 {
    top: 20px;
    width: 99%;
    padding: 5px;
    text-align: center;
    color: #343333;

}
.company-info {
    text-align: center;
    margin-top: 50%;
    padding: 50%;
    line-height: 1px;
    
}

h2 {
    background-color: var(--accent2-color);
    padding: 10px;
}

.company-info,
.contact-form,
.employees {
    margin: 3rem 0;
    padding: 1rem;
}

.contact-layout {
    display: flex;
    gap: 2rem;

}
.map-container iframe {
    width: 300px;
    height: 300px;
    border: 1;
    border-radius: 0.5rem;
    float: left;
}
.contact-form form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: right;
}


.employee-grid {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    background-color: var(--accent2-color);
}

.employee-grid img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.employee-grid figcaption {
    text-align: center;
    margin-top: 0.5rem;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #bbb;
}


fieldset {
    border: 1px solid #aaa;
    padding: 1.5rem;
}

legend {
    padding: 0 .5rem;
}

h3 {
    padding: 5px;
    top: 50px;
    left: 40px;
    color: white;
    text-align: center;

}

button[type="submit"] {
    padding: 12px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #094f92;
}


.socialmedia img {
    width: 24px;
    height: auto;
   
}
