:root {
    --primary-color: #19643d;
    --secondary-color: #eb6914;
    --accent1-color: #333333;
    --accent2-color: #ffefe4;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 100%;
    margin: 0 auto;
}

h1,h2,h3 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
    opacity: 80%;
    padding: 3%;
}



header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;

    max-width: 100%;
    margin: 0.1rem auto;
}


header img {
    margin:  2rem 0.5rem;
    width: 130px;
    height: auto;
    padding-left: 20px;
}

#logo {
    font-size: 2.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5rem 1rem;
    color: var(--accent2-color);
}

.navigation {
    display: flex;
    list-style: none;
    border: 2px;
    padding: 20px 30px;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    padding: 8px 15px;
    border: 0.5px solid #fff;
    margin: 0;
    text-decoration: none;
    font-size: 1px
}

nav a:hover {
    background-color: var(--secondary-color);
}

p,section,article {
    margin: 16px;
    padding: 8px;
    
}

.hero {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: auto;
    background-color: var(--secondary-color);
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.hero h1 {
    position: absolute;
    text-align: center;
    color: var(--accent2-color);
    width: 99%;
    top: 5%;
    padding: 10px;
    /* left: 0 33%; */
}

.hero h3 {
    color: var(--accent1-color);
    text-decoration: underline;
}

.hero article {
    position: absolute; 
    background-color: var(--accent2-color);
    max-width: 980px;
    align-content: center;
    padding: 2rem;
    margin: 0 auto;  
    top: 40%;
    padding: 0.5rem;
    right: 10px; 
}

.hero article img {

    width: 150px;
    height: auto;
    display: block;
    border: #000;
    margin: 0 auto;
    float: right;   
}
h2 {
    font-size: 30px;
    margin-top: .20px;
}
.history {
    width: 1000px;
    margin: 2rem auto;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
}

.history-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--accent2-color);
    border-radius: 7px;
}

.history-text-left {
    flex: 1;
    text-align: right;
    padding: 1rem;
    color: var(--primary-color);
    
}

.history-text-right {
    flex: 1;
    text-align: left;
    color: var(--primary-color);
}

.history-img {
    flex: 0 0 100px;
    text-align: center;
}

.history-img img {
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    flex: 0 0 200px;
    text-align: center;
    border-radius: 5px;
}
.history h2 {
    color: var(--accent1-color);
    text-decoration: underline;
}

h3 {
    font-size: 30px;
    top: .30px;
}

.adventures {
    max-width: 100%;
    text-align: center;
    background-color: var(--accent1-color);
    
}
.adventure-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 2rem 0;
}

.adventure-row figure {
    flex: 1;
    text-align: center;
    margin: 0;
}

.adventure-row img {
    width: 40%;
    max-width: 180px;
    height: auto;
    border-radius: 0.5rem;
}

.adventure-row figcaption {
    margin-top: 0.5rem;
    font-size: 0.9px;
    color: var(--accent2-color);
}


footer .socialmedia .icons {
    display: flex;
    gap: 0.3rem;
    width: 24px;
    height: auto;
   
}
footer .socialmedia p {
    margin: 0;                  
    white-space: nowrap; 
} 

.company-info {
    text-align: center;
    margin-top: 40%;
    padding: 50%;
    line-height: 2px;
    
}

.company-info h1 {
    color: var(--primary-color);
    padding: 1rem;
}

.map-form {
    display: flex;
    place-content: center;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    
}

.contact-form form {
    /* display: flex; */
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    gap: 2.5em;
    flex: 1;
    
}

.company-info,
.contact-form,
.employees {
    margin: 2rem 0;
    padding: 2rem;
}

/* .contact-layout {
    display: flex;
    gap: 3rem;
    
} */

.map-container {
    display: block;
    padding-bottom: 20px;
}
.map-container iframe {
    width: 300px;
    height: 300px;
    border: 1px;
    border-radius: 0.5rem;
    float: left;
    margin-right: 10rem;
}

.employee-grid {
    display: flex;
    margin-top: 1%;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: var(--accent2-color);
}


.employee-grid img {
    border: 50px;
    width: 180px;
    max-width: 180px;
    height: 180px;
    border-radius: 10rem;
}

.employee-grid figcaption {
    text-align: center;
    margin-top: 1rem;
}

.employees h3 {
    color: var(--primary-color);
    padding: 5px;
}
 
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #bbb;
}


fieldset {
    border: 1px solid #aaa;
    padding: 1.5rem;
}

legend {
    padding: 0 .5rem;
}


button[type="submit"] {
    padding: 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: var(--primary-color);
}


footer {
    max-width: 100%;
    background-color: var(--accent2-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 5rem;
}

footer p {
    margin: 0;
    font-size: 20px;
}

footer .socialmedia {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
}

footer .socialmedia img {
    width: 24px;
    height: auto;
}

.hero-home {
    width: 100%;
    position: relative;
    background-color: var(--accent1-color);
    margin: 0;
}

.hero-home img {
    width: 100%;
    height: auto;
    align-items: center;
    opacity: 50%;
    
   
}

.hero-home h1 {
    position: absolute;
    width: 100%;
    top: 40%;
    padding: 20px;
    /* left: 0 33%; */
    font-size: 50px;
}


.newsletter_form {
    display: flex;
    background-color: var(--accent2-color);
    border-radius: 10px;
    width: 45%;
    padding: 40px 40px;
    margin-left: 30%;
    border: 2px solid #000;
    border-color: var(--accent1-color);
}

.newsletter_form h2 {
    opacity: 100%;
    font-size: 25px;
    text-align: left;
    background-color: var(--accent1-color);
    border-radius: 10px;
    margin: 5px;
    text-align: left;
}

.newsletter_box {
    width: 100%;
    font-size: 30px;
    padding: 5px 5px;
    color: var(--accent1-color);

}

/* .newsletter_box input[type="text"],
.newsletter_box input[type="email"], {
    width: 80%;
    padding: 5px;
    border: 4px solid #bbb;
} */



.trip_box {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    padding: 5px 1px; 
    margin: 0 20px;
    
}

.view_trips {
    margin:  0.1rem;
}

.homeinfo_grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: start;
    padding: 1rem 1rem;
}

.homeinfo_grid .homeinfo_grid-item {
    background: var(--accent2-color);
    padding: 1rem;
    border-radius: 5px;
}

.homeinfo_grid img {
    width: 60%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 0.2rem;
    
}

.homeinfo_grid h3 {
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
    font-size: 50px;
    text-align: justify;
}

.homeinfo_grid p {
    font-size: 22px;
}


.hero-trip {
    width: 100%;
    position: static;
    background-color: var(--primary-color);
    margin: 0;
}

.hero-trip img {
    width: 100%;
    height: auto;
    align-items: center;
    opacity: 50%;
}




.cta-button {
    display: inline-block;
    padding: 20px 70px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
    margin-top: 1rem;
}

.cta-button:hover {
    background-color: var(--accent2-color);
    color: #000;
}


.trips-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    /* align-items: start; */
    padding: 1rem 1rem;
}

.trip_card {
    background: var(--accent2-color);
    padding: 1rem;
    border-radius: 5px;
}

.trip-card img {
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 0.1rem;
    
}

.trip_card h3 {
    margin-bottom: 0.5rem;
    color: var(--secondary-color);
    font-size: 50px;
    text-align: justify;
}

.trip_card p {
    font-size: 22px;
}

.trips-table {
    /* grid-template-columns: repeat(2,1fr); */
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 20px;
}

table th {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    border: 2px solid #000;
}

.trips-table h2 {
   background-color: var(--primary-color);
   font-size: 50px;
   border: 2px solid #000;
}