:root {
    --primary-color: #19643d;
    --secondary-color: #eb6914;
    --accent1-color: #333333;
    --accent2-color: #ffefe4;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

h1,h2,h3 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
    background-color: var(--primary-color);
    opacity: 80%;
    padding: 3%;
}

header, .hero img {
    width: 1000px;
    margin: 0.1rem auto;
}

header {
    /* width: 38%; */
    background-color: var(--secondary-color);
    /* margin: 2rem auto; */
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

header img {
    margin:  2rem 0.5rem;
    width: 130px;
    height: auto;
    padding-left: 20px;
}

#logo {
    font-size: 2.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5rem 1rem;
    color: var(--accent2-color);
}

.navigation {
    display: flex;
    list-style: none;
    border: 2px;
    padding: 20px 30px;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    padding: 8px 15px;
    border: 0.5px solid #fff;
    margin: 0;
    text-decoration: none;
    font-size: 1
}

nav a:hover {
    background-color: var(--secondary-color);
}

p,section,article {
    margin: 16px;
    padding: 8px;
    
}

.hero {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: auto;
    background-color: var(--secondary-color);
}

.hero img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.hero h1 {
    position: absolute;
    text-align: center;
    color: var(--accent2-color);
    width: 99%;
    top: 5%;
    padding: 10px;
    left: 0 33%;
}

.hero article {
    position: absolute; 
    background-color: var(--accent2-color);
    max-width: 980px;
    align-content: center;
    padding: 2rem;
    margin: 0 auto;  
    top: 40%;
    padding: 0.5rem;
    right: 10px; 
}

.hero article img {

    width: 150px;
    height: auto;
    display: block;
    border: #000;
    margin: 0 auto;
    float: right;   
}
h2 {
    font-size: 30px;
    margin-top: .20px;
}
.history {
    width: 1000px;
    margin: 2rem auto;
    text-align: center;
    /* background-color: var(--secondary-color); */
    padding: 20px;
    margin: 0 auto;
}

.history-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--accent2-color);
    border-radius: 7px;
}

.history-text-left {
    flex: 1;
    text-align: right;
    padding: 1rem;
    color: var(--primary-color);
    
}

.history-text-right {
    flex: 1;
    text-align: left;
    color: var(--primary-color);
}

.history-img {
    flex: 0 0 100px;
    text-align: center;
}

.history-img img {
    /* max-width: 200px; */
    width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    flex: 0 0 200px;
    text-align: center;
    border-radius: 5px;
}

h3 {
    font-size: 30px;
    top: .30px;
}

.adventures {
    max-width: 100%;
    text-align: center;
    background-color: var(--accent1-color);
    
}
.adventure-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
}

.adventure-row figure {
    flex: 1;
    text-align: center;
    margin: 0;
}

.adventure-row img {
    width: 100%;
    max-width: 180px;
    height: auto;
    border-radius: 0.5rem;
}

.adventure-row figcaption {
    margin-top: 0.5rem;
    font-size: 0.9;
    color: var(--accent1-color);
}

footer .socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    /* gap: 0.2rem; */
    flex-wrap: wrap;
    background-color: var(--accent2-color);
}

footer .socialmedia .icons {
    display: flex;
    gap: 0.3rem;
    width: 24px;
    height: auto;
   
}
footer .socialmedia p {
    margin: 0;                  
    white-space: nowrap; 
}

.company-info {
    text-align: center;
    margin-top: 40%;
    padding: 50%;
    line-height: 2px;
    
}

/* h2 {
    background-color: var(--accent2-color);
    padding: 10px;
} */

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 700px;
    margin: 0 auto;
}

.contact-form form {
    width: 600px;
    margin: 0 auto;
    padding: 1rem;
    gap: 2.5em;
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    
    /* align-items: right; */
}

.company-info,
.contact-form,
.employees {
    margin: 3rem 0;
    padding: 2rem;
}

.contact-layout {
    display: flex;
    gap: 3rem;
    
}
.map-container iframe {
    width: 300px;
    height: 300px;
    border: 1;
    border-radius: 0.5rem;
    float: left;

}



.employee-grid {
    display: flex;
    margin-top: 5%;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 2rem;
    background-color: var(--accent2-color);
}


.employee-grid img {
    border: 50px;
    width: 180px;
    max-width: 180px;
    height: 180px;
    border-radius: 5rem;
    border-radius: 5px;
}

.employee-grid figcaption {
    text-align: center;
    margin-top: 1rem;
}

 
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #bbb;
}


fieldset {
    border: 1px solid #aaa;
    padding: 1.5rem;
}

legend {
    padding: 0 .5rem;
}

/* h3 {
    padding: 5px;
    top: 100px;
    left: 100px;
    color: white;
    text-align: center;
} */

button[type="submit"] {
    padding: 12px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #094f92;
}

/* .nav {
    display: flex;
    list-style: none;
} */

footer {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 5rem;
}

footer p {
    margin: 0;
    font-size: 20px;
}

footer .socialmedia {
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer .socialmedia img {
    width: 24px;
    height: auto;
}

/* footer .socialmedia {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    /* gap: 0.2rem; */
    /* flex-wrap: wrap;
    background-color: var(--accent2-color);
} */

/* footer .socialmedia .icons {
    display: flex;
    gap: 0.3rem;
    width: 24px;
    height: auto;
   
}
footer .socialmedia p {
    margin: 0;                  
    white-space: nowrap; 
}  */