:root {
    --primary-color: #2d2d2d;
    --secondary-color: #0c63ba;
    --accent1-color: #b1d5e4;
    --accent2-color: #e9c46a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

h1,h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}


header {
    background-color: var(--secondary-color);
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 1px;
    height: auto;
}

#logo {
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 3.5rem;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 1
}

p,section,article {
    margin: 16px;
    padding: 8px;
    
}

.socialmedia a {
    text-decoration: none;
}


.hero {
    background-color: var(--secondary-color);
    position: relative;
}

.hero img {
   
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    /* position: absolute;  */
    float: right;
    display: flex;
    max-width: 900px;
    align-content: center;
    padding: 2rem;
    margin: 0 auto;  
    top: 300px;
    bottom: 200px;
    right: 20px; 
}

/* .hero-text {
    position: static;
    top: 300px;
    right: 20px;
    padding-left: 3%;
    border: #000; 
    margin: auto;
} */

.hero article img {
    display: flex;
    align-items: end;
    top: 40px;
    bottom: 50px;
    width: 125px;
    border: #000;
    margin: auto;
     /* float: right; */
}

h3 {
    position: absolute;
    top: 120px;
    left: 40px;
    color: white;

}

h1 {
    position: absolute;
    top: 20px;
    width: 99%;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    
    color: #343333;

}

.article {
    position: static;
    color: #fefefe;
}



h2 {
    background-color: var(--accent2-color);
    padding: 10px;
}

