* {
    max-width: 850px;
    margin: 0 auto;
}

form {
    background-color: rgb(218, 218, 218);
    display: grid;
    padding: 5rem;
}

.exampleCode {
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 1rem;
    margin-left: 10rem;
    margin-right: 1rem;
    
}

button {
    background-color:rgb(28, 28, 126);
    color: rgb(244, 245, 245);
    border-radius: .3rem;
    padding: 2rem;
    margin: 2rem;
    border: none;
}

label, input, textarea, select,button {
    margin: .7rem;
    font-size: 1.5rem;
    padding: .5rem;
    
}

h1 {
    text-align: center;
}