main {
    max-width: 840px;
    grid-column: 2/3;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header,.grid,footer {
    max-width: 1000px;
    margin: 0 auto;
}
nav {
    background-color: #fb5527;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    
}

h1 {
    color: steelblue;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 10px;
    right: 140px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2); /* */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
    
}

main img {
    float: right;
    width: 200px;
    height: auto;
    border: 1px solid blue;
    padding: 2px;
    margin: 1rem;
    box-shadow: 0 0 30px rgb(128, 128, 128);
}


p { 
    margin: 1rem;
}



.grid {
    display: grid;
    align-items: center;
}

.box {
    margin: 1rem;
    padding: 1rem;
    clear: both;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #ddd;
    color: black;
}

.indent_left {
    padding-left: 2rem;
}