* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    margin: 15px;
    text-align: center;
    border-top: var(--border-top)
}

nav a {
    color: black;
    padding: 10px;
    display: block;
}

h1 {
    color: steelblue;
}

main img {
    width: 200px;
    height: auto;
    border: 2px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 10px;
}

aside {
    width: 20em;
    text-align: var(--text-align);
}

aside h2 {
    position: relative;
    top: 47px;
    left: 150px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10em;
    border-top: 10px var(--text-align)
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb (0, 0, 0, 10%);
    padding: 1rem;
    background-color: rgb(227, 231, 2);
    color: rgb(226, 70, 2);
}