body {
    font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
    background-color: #333333;
    color: white;
    padding: 10px;
}

header {
    font-size: 1.25rem;

}

footer {
    font-size: 0.8rem;

}

section {
    background-color: lightgray;
    padding: 10px;
    margin: 10px auto;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

h2 {
    border-bottom: 1px solid black;
}

picture img {
    box-shadow: 0 0 30px #333333;
}

p {
    margin: 10px;
}